body
{
    background-color: #45484A;
    color: #E0E0E0;
    font-family: 'Space Grotesk', sans-serif;
}

.container
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

.navbar
{
    background-color: dimgray;
    padding: 10px 0;
    text-align: center;
}

nav a
{
    color: #E0E0E0;
    text-decoration: none;
    position: relative;
}

nav a::after
{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #F59E0B;
    transition: width 0.3s ease;
    bottom: 1;
    left: 0;
}

nav a:hover::after
{
    width: 100%;
}

nav a:hover
{
    color: #FFFFFF;
    text-shadow: 0 0 5px #F59E0B;
    letter-spacing: 0.5px;
}

.accent-text
{
    color: #F59E0B;
}

.hero
{
    margin-top: 20px;
    border-left: 4px solid #F59E0B;
    background-color: #4E5154;
    padding: 40px 20px;
    border-radius: 8px;
}

.hero-title
{
    font-size: 5em;
    font-weight: bold;
    margin-bottom: 3px;
}

.hero-subtitle
{
    font-size: 1.8em;
    font-weight: italic;
}

.projects
{
    padding-top: 40px; 
    padding-bottom: 40px;
}

.project-card
{
    border: 1px solid #3a3d3f;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #3f4144;
    transition: all 0.3s ease;
}

.project-card:hover
{
    /*For Effects on Hover--*/
    background-color: #45484A;
    border-color: #F59E0B;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(245, 158, 11, 0.5);
}

.skills
{
    margin-top: -25px;
}

.skills-grid
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 1px solid #3a3d3f;
    border-radius: 8px;
    padding: 20px;
}

.skills-categories
{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
    padding: 10px;
    background-color: #3f4144;
}

.languages
{
    border-left: 4px solid #A78BFA;
}

.frameworks
{
    border-left: 4px solid #4ECDC4;
}

.game-dev
{
    border-left: 4px solid #60A5FA;
}

.skills-categories h4
{
    width: 100%;
    margin-bottom: 5px;
}

.languages h4
{
    color: #A78BFA;
}

.frameworks h4
{
    color: #4ECDC4;
}

.game-dev h4
{
    color: #60A5FA;
}

.skill-tag
{
    border-radius: 8px;
    padding: 8px;
    background-color: #3f4144;
}

footer
{
    background-color: dimgray;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
}

footer a
{
    color: #F59E0B;
    text-decoration: none;
}